/* Basic styling */
.navbar-main {
    width: 100%;
    background-color: #fff; 
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
    z-index: 100;
    font-weight: bold;
    
}
  
.header-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 1.5rem;
}
  
.nav-logo img {
    height: 68px;
}
  
.nav-links {
    display: flex;
    gap: 1.5rem;
}
  
.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}
  
.nav-links a:hover {
    color: #0070f3;
}
  
.nav-links .active {
    color: #0070f3;
    font-weight: bold;
}
  
/* Services dropdown styling */
.nav-services {
    position: relative;
}

.services-dropdown {
    display: flex;
    flex-direction: row;
    gap: 20px; /* Space between Service 1 and Service 2 */
    position: absolute;
    background-color: #fff;
    box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
    padding: 15px;
    margin-top: 5px;
    z-index: 1000;
}

.services-dropdown-item {
    display: flex;
    flex-direction: column;
}

.services-dropdown-item p {
    font-weight: bold;
    margin-bottom: 8px;
}

.services-dropdown a {
    padding: 6px 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.services-dropdown a:hover {
    background-color: #f0f0f0;
}
  
/* Responsive styling */
@media (width <= 768px) {
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      right: 1.5rem;
      background-color: #fff;
      box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
      padding: 1rem;
      gap: 1rem;
    }
  
    .nav-links.open {
      display: flex;
    }
  
    .nav-toggle {
      display: block;
    }
}

.services-dropdown a{
    font-size: 13px;

}

.nav-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}

.contact-btn button{
    font-size: 14px;
  padding: 5px;
    background-color: none;
    border-radius: 5px;
    border: 2px solid orange;

}

/* Responsive styling */
@media (width <= 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 1.5rem;
        background-color: #fff;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
        padding: 1rem;
        gap: 1rem;
        width: 200px;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }

    .contact-btn button{
        display: none;
    }
}
